.standard-section {
    border: solid 1px black;
    padding: 20px;
}

.parent1 {
    border: solid 1px black;
    background-color: white;

    display: flex;
    justify-content: space-around;
}


.square {
    width: 50px;
    height: 50px;
}

.rect {
    width: 150px;
    height: 50px;
}

.offsetsquare {
    margin-left: 25px;
    margin-top: -25px;
    z-index: 1;
}

.box1 {
    background-color: black;
}

.box2 {
    background-color: blue;
}

.filter-blur {
filter: blur(3px);
}

.filter-blur1 {
    filter: blur(1px);
    }

.filter-grayscale {
    filter: grayscale(.9);
}

.filter-blur-grayscale {
filter: blur(1px) grayscale(.9);
}



.filter-brightness {
    filter: brightness(.5);
}


.filter-contrast {
    filter: contrast(2);
}

.filter-hue-rotate {
filter: hue-rotate(269deg);
}

.filter-invert {
filter: invert(100%);
}

.filter-opacity {
    opacity: 0.2;
    }


.filter-box-shadow {
    box-shadow: 40px 5px 0px 1px #000;
    }

.filter-saturate {
    filter: saturate(300%);
    }

.filter-sepia {
    filter: sepia(100%);
    }
